<div class="author">
    <h1 class="author_heading">Hi, I am Derek.</h1>
    <p class="author_body">Web Developer</p>
</div>

<img src="/img/girl.jpg" class="astro_image" width="950" height="550">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    
    <ul class="article-ul">
        <% data.forEach(element => { %>
        <li>
            <a href="/post/<%= element._id %>">
                <span><%= element.title %></span>
                <span class="article-list_date"><%= element.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <div class="justify-between">
        <% if (nextPage !== null) { %>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; Older Posts</a>
        <% } %>
    
        <% if (nextPage !== 2) { %>
            <a href="/?page=<%= previousPage %>" class="pagination right">Previous Posts &gt;</a>
        <% } %>
    </div>

</section>